In [0]:
!wget https://datahack-prod.s3.amazonaws.com/test_file/test_8i3B3FC.csv
!wget https://datahack-prod.s3.amazonaws.com/train_file/train_NIR5Yl1.csv

--2019-10-15 17:35:04--  https://datahack-prod.s3.amazonaws.com/test_file/test_8i3B3FC.csv
Resolving datahack-prod.s3.amazonaws.com (datahack-prod.s3.amazonaws.com)... 52.219.62.36
Connecting to datahack-prod.s3.amazonaws.com (datahack-prod.s3.amazonaws.com)|52.219.62.36|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4673330 (4.5M) [application/vnd.ms-excel]
Saving to: ‘test_8i3B3FC.csv’

test_8i3B3FC.csv    100%[===================>]   4.46M  5.78MB/s    in 0.8s

2019-10-15 17:35:05 (5.78 MB/s) - ‘test_8i3B3FC.csv’ saved [4673330/4673330]

--2019-10-15 17:35:09--  https://datahack-prod.s3.amazonaws.com/train_file/train_NIR5Yl1.csv
Resolving datahack-prod.s3.amazonaws.com (datahack-prod.s3.amazonaws.com)... 52.219.62.16
Connecting to datahack-prod.s3.amazonaws.com (datahack-prod.s3.amazonaws.com)|52.219.62.16|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12564851 (12M) [application/vnd.ms-excel]
Saving to: ‘train_NIR5Yl1.csv’

train_NIR5Yl1.csv   100%[===================>]  11.98M  11.0MB/s    in 1.1s

2019-10-15 17:35:11 (11.0 MB/s) - ‘train_NIR5Yl1.csv’ saved [12564851/12564851]

In [0]:
import pandas as pd
import os 
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression

In [0]:
train_df = pd.read_csv("train_NIR5Yl1.csv")
test_df = pd.read_csv("test_8i3B3FC.csv")

In [0]:
train_df.head()

       ID Tag  Reputation  Answers  Username    Views  Upvotes
0   52664   a      3942.0      2.0    155623   7855.0     42.0
1  327662   a     26046.0     12.0     21781  55801.0   1175.0
2  468453   c      1358.0      4.0     56177   8067.0     60.0
3   96996   a       264.0      3.0    168793  27064.0      9.0
4  131465   c      4271.0      4.0    112223  13986.0     83.0

In [0]:
test_df.head()

       ID Tag  Reputation  Answers  Username    Views
0  366953   a      5645.0      3.0     50652  33200.0
1   71864   c     24511.0      6.0     37685   2730.0
2  141692   i       927.0      1.0    135293  21167.0
3  316833   i        21.0      6.0    166998  18528.0
4  440445   i      4475.0     10.0     53504  57240.0

In [0]:
label_df = train_df['Upvotes']
data_df = train_df[['Tag','Reputation','Answers','Views']]
test_data_df = test_df[['Tag','Reputation','Answers','Views']]

In [0]:
label_val = label_df.values
data_val = data_df.values
test_val = test_data_df.values

In [0]:
final_data = list()
for i in range(len(data_val)):
  aux = data_val[i]
  new = [aux[1], aux[2],aux[3] ]
  final_data.append(new)
train_x = np.array(final_data).astype(np.float64)
train_y = np.array(label_val).astype(np.int64)

In [0]:
regressor = RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None, n_estimators=100)
#regressor = LinearRegression()

In [0]:
regressor.fit(train_x,train_y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [0]:

final_test_data = list()
for i in range(len(test_val)):
  aux = test_val[i]
  new = [aux[1], aux[2],aux[3] ]
  final_test_data.append(new)
test_x = np.array(final_test_data).astype(np.float64)

In [0]:
preds = regressor.predict(test_x)

In [0]:
print(preds)

[213.31        77.80619048  39.84       ...  57.71057143   6.6
  17.22      ]

In [0]:
!touch submit.csv
file = open('submit.csv','w')
file.write('ID,Upvotes\n')
for i in range(len(preds)):
  file.write(str(test_df['ID'][i])+','+str(preds[i])+'\n')
file.close()